org.dbdoclet.test.xiphias/src/test/resources/xsd/ir/romarin/Romarin-V1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.wipo.int/standards/XMLSchema/trademarks" targetNamespace="http://www.wipo.int/standards/XMLSchema/trademarks" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- ********************************************************************** -->
	<!-- * Romarin Version1.0                            	    2008-08-15    * -->
	<!-- *                                                                 				    * -->
	<!-- *                                                                 				    * -->
	<!-- *====================================================================* -->
	<!-- *           WIPO - International Registrations                     	 * -->
	<!-- *                                                                   				 	* -->
	<!-- ********************************************************************** -->
	<xs:annotation>
		<xs:documentation>
		WIPO / Romarin Version 1.0  August 15,  2008. Schema for international trademarks in WIPO Romarin
	  </xs:documentation>
	</xs:annotation>
	<!-- ====================================================================== -->
	<!-- Include of external standard types                                     -->
	<!-- ====================================================================== -->
	<xs:include schemaLocation="ISOCountryCodeType-V2006.xsd"/>
	<xs:include schemaLocation="ISOLanguageCodeType-V2002.xsd"/>
	<xs:include schemaLocation="WIPOST3CodeType-V2007.xsd"/>
  
	<!-- ********************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- * TRANSACTION/MESSAGE TYPES LIBRARY ********************************** -->
	<!-- ********************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- ====================================================================== -->
	<!-- Root Messages                                                          -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Top Level Transaction for all Types of Message                         -->
	<!-- ====================================================================== -->
	<xs:element name="Transaction" type="TransactionType"/>
	<!-- ====================================================================== -->
	<!-- Type Name : TransactionBodyType                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionBodyType">
		<xs:sequence>
			<xs:element name="TransactionErrorDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionError" type="TransactionErrorType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionContentDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionIdentifier" type="xs:token" minOccurs="0"/>
						<xs:element name="TransactionCode" type="Romarin_TransactionCodeType"/>
						<xs:element name="TransactionData" type="TransactionDataType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : TransactionDataType                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionDataType">
		<xs:sequence>
			<!-- ================================================================= -->
			<!-- Set of Trade Marks                                                -->
			<!-- ================================================================= -->
			<xs:element name="TradeMarkDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TradeMark" type="TradeMarkType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : TransactionErrorType                                       -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionErrorType">
		<xs:sequence>
			<xs:element name="TransactionErrorCode" type="xs:token" minOccurs="0"/>
			<xs:element name="TransactionErrorText" type="xs:token" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : TransactionHeaderType                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionHeaderType">
		<xs:sequence>
			<xs:element name="SenderDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestProducerDateTime" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : TransactionType                                            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TransactionType">
		<xs:sequence>
			<xs:element name="TransactionHeader" type="TransactionHeaderType" minOccurs="0"/>
			<xs:element name="TradeMarkTransactionBody" type="TransactionBodyType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ********************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- * BUSINESS TYPES LIBRARY ********************************************* -->
	<!-- ********************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- ====================================================================== -->
	<!-- Type Name : AddressBookType                                            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressBookType">
		<xs:sequence>
			<xs:element name="FormattedNameAddress" type="FormattedNameAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : AddressType                                              -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="AddressCountryCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="FreeFormatAddress">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FreeFormatAddressLine" type="TextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : ApplicantType                                              -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="ApplicantType">
		<xs:sequence>
			<xs:element name="ApplicantIdentifier" type="xs:token" minOccurs="0"/>
			<xs:element name="ApplicantNationalityCode" type="NationalityCodeType" minOccurs="0"/>
			<xs:element name="ApplicantLegalEntity" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicantIncorporationState" type="xs:string" minOccurs="0"/>
			<xs:element name="ApplicantAddressBook" type="AddressBookType" minOccurs="0"/>
			<xs:element name="ApplicantEntitlement" type="EntitlementType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : BasicRecordType.xsd                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="BasicRecordType">
		<xs:sequence>
			<xs:element name="RecordFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordNotificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordEffectiveDate" type="xs:date" minOccurs="0"/>
			
			<xs:element name="BasicRecordKind" type="BasicRecordKindType" minOccurs="0"/>
			<xs:element name="RecordReference" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordLanguageCode" type="ExtendedISOLanguageCodeType" minOccurs="0"/>
			<xs:element name="RecordPublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordPublication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FactDecisionText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecordInterestedOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="RecordDesignatedCountryDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DesignatedCountry" type="DesignatedCountryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordUseIntentDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordUseIntentCountryCode" type="ExtendedWIPOST3CodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesLimitationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GoodsServicesLimitation" type="GoodsServicesLimitationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SeniorityDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Seniority" type="SeniorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BasicRegistrationApplicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BasicRegistrationApplication" type="BasicRegistrationApplicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : BasicApplicationType                                       -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="BasicApplicationType">
		<xs:sequence>
			<xs:element name="BasicApplicationNumber" type="xs:token" minOccurs="0"/>
			<xs:element name="BasicApplicationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : BasicRegistrationApplicationType                           -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="BasicRegistrationApplicationType">
		<xs:sequence>
			<xs:element name="RegistrationOfficeCode" type="WIPOST3CodeType" minOccurs="0"/>
			<xs:element name="BasicApplicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BasicApplication" type="BasicApplicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BasicRegistrationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BasicRegistration" type="BasicRegistrationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : BasicRegistrationType                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="BasicRegistrationType">
		<xs:sequence>
			<xs:element name="BasicRegistrationNumber" type="xs:token" minOccurs="0"/>
			<xs:element name="BasicRegistrationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<xs:simpleType name="CategoryKindType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Vienna Two Levels"/>
					<xs:enumeration value="Vienna Three Levels"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : ClassDescriptionType                                       -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="ClassDescriptionType">
		<xs:sequence>
			<xs:element name="ClassNumber" type="NiceClassNumberType" minOccurs="0"/>
			<xs:element name="GoodsServicesDescription" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ClassLimitationCode" type="GoodsServicesLimitationCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : CorrespondenceAddressType.xsd                            -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="CorrespondenceAddressType">
		<xs:sequence>
			<xs:element name="CorrespondenceAddressIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CorrespondenceAddressParty" type="CorrespondenceAddressPartyType" minOccurs="0"/>
			<xs:element name="CorrespondenceAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : DesignatedCountryType                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="DesignatedCountryType">
		<xs:sequence>
			<xs:element name="DesignatedCountryCode" type="ExtendedWIPOST3CodeType"/>
			<xs:element name="DesignatedUnderCode" type="DesignatedUnderCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : EntitlementType.xsd                                      -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="EntitlementType">
		<xs:sequence>
			<xs:element name="EntitlementNationalityCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="EntitlementEstablishment" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntitlementEstablishmentCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
						<xs:element name="EntitlementEstablishmentAddressBook" type="AddressBookType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EntitlementDomiciled" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntitlementDomiciledCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
						<xs:element name="EntitlementDomiciledAddressBook" type="AddressBookType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : FormattedNameAddressType                                   -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="FormattedNameAddressType">
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : GoodsServicesType                                          -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="GoodsServicesType">
		<xs:sequence>
			<xs:element name="GoodsServicesHeader" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ClassDescriptionDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassDescription" type="ClassDescriptionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesFooter" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : GoodsServicesLimitationType                                -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="GoodsServicesLimitationType">
		<xs:sequence>
			<xs:element name="LimitationCountryDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LimitationCountryCode" type="ExtendedWIPOST3CodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesHeader" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GoodsServicesLimitationCode" type="GoodsServicesLimitationCodeType" minOccurs="0"/>
			<xs:element name="LimitationClassDescriptionDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassDescription" type="ClassDescriptionType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesFooter" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : LicenceCountryType										                               -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="LicenseCountryType">
		<xs:sequence>
			<xs:element name="LicenseCountryCode" type="ExtendedWIPOST3CodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TerritoryLimitationText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : LicenceGoodsServicesCountriesSet 										                               -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="LicenseGoodsServicesCountriesSetType">
		<xs:sequence>
			<xs:element name="LicenseCountryDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LicenseCountry" type="LicenseCountryType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClassDescription" type="ClassDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : LicenceKindType.xsd                                      -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="LicenceKindType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Unknown"/>
					<xs:enumeration value="Nonexclusive"/>
					<xs:enumeration value="Exclusive"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : LicenceType.xsd                                          -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="LicenceType">
		<xs:sequence>
			<xs:element name="LicenceKind" type="LicenceKindType" minOccurs="0"/>
			<xs:element name="GoodsServicesLimitationIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="TerritoryLimitationIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LicenseGoodsServicesCountriesSet" type="LicenseGoodsServicesCountriesSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PeriodLimitationText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LicenseeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Licensee" type="LicenseeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Representative" type="RepresentativeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousLicenseeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Licensee" type="LicenseeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : LicenseeType.xsd                                         -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="LicenseeType">
		<xs:sequence>
			<xs:element name="LicenseeIdentifier" type="IdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LicenseeAddressBook" type="AddressBookType" minOccurs="0"/>
			<xs:element name="LicenseeLegalEntity" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkImageCategoryType                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkImageCategoryType">
		<xs:sequence>
			<xs:element name="CategoryKind" type="CategoryKindType"/>
			<xs:element name="CategoryCodeDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CategoryCode" type="CategoryCodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : MarkImageColourModeType.xsd                              -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkImageColourModeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Black and White"/>
			<xs:enumeration value="Greyscale"/>
			<xs:enumeration value="Colour"/>
			<xs:enumeration value="Not Colour"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkImageType                                              -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkImageType">
		<xs:sequence>
			<xs:element name="MarkImageFilename" type="xs:string" minOccurs="0"/>
			<xs:element name="MarkImageFileFormat" type="FileFormatType" minOccurs="0"/>
			<xs:element name="MarkImageColourIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="MarkImageColourMode" type="MarkImageColourModeType" minOccurs="0"/>
			<xs:element name="MarkImageColourClaimedText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarkImageColourPartClaimedText" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarkImageCategoryDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkImageCategory" type="MarkImageCategoryType" minOccurs="0" maxOccurs="2"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkRecordType.xsd                                         -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkRecordType">
		<xs:sequence>
			<xs:element name="BasicRecord" type="BasicRecordType" minOccurs="0"/>
			<xs:element name="RecordShortNotation" type="RecordShortNotationType" minOccurs="0"/>
			<xs:element name="RecordOppositionPeriod" type="RecordOppositionPeriodType" minOccurs="0"/>
			<xs:element name="RecordLicence" type="RecordLicenceType" minOccurs="0"/>
			<xs:element name="RecordNationalInternationalReplacement" type="RecordNationalInternationalReplacementType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkSoundType                                              -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="MarkSoundType">
		<xs:sequence>
			<xs:element name="MarkSoundFilename" type="xs:string"/>
			<xs:element name="MarkSoundFileFormat" type="SoundFileFormatType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : NameType                                                   -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="FreeFormatName" type="FreeFormatNameType" minOccurs="0"/>
			<xs:element name="NameTransliteration" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : FreeFormatNameType.xsd                                   -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="FreeFormatNameType">
		<xs:sequence>
			<xs:element name="NameKind" type="NameKindType" minOccurs="0"/>
			<xs:element name="FreeFormatNameDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FreeFormatNameLine" type="TextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : NameKindType.xsd                                         -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="NameKindType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Natural Person"/>
					<xs:enumeration value="Legal Entity"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : NationalityCodeType                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="NationalityCodeType">
		<xs:union memberTypes="ISOCountryCodeType">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Stateless"/>
					<xs:enumeration value="Unidentified"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : NationalMarkType.xsd                                     -->
	<!-- Author      : WIPO Standard ST.66 Forum                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="NationalMarkType">
		<xs:sequence>
			<xs:element name="NationalMarkRegistrationNumber" type="xs:string"/>
			<xs:element name="NationalMarkFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="NationalMarkRegistrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="NationalMarkPriorityDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : PreviousRegistrationType                                   -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="PreviousRegistrationType">
		<xs:sequence>
			<xs:element name="RegistrationOfficeCode" type="WIPOST3CodeType" minOccurs="0"/>
			<xs:element name="PreviousRegistrationNumber" type="xs:string"/>
			<xs:element name="PreviousRegistrationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : PriorityType                                               -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="PriorityType">
		<xs:sequence>
			<xs:element name="PriorityCountryCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="PriorityNumber" type="xs:token" minOccurs="0"/>
			<xs:element name="PriorityDate" type="xs:date" minOccurs="0"/>
			<xs:element name="PriorityPartialGoodsServices" type="GoodsServicesType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : PublicationType                                            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="PublicationType">
		<xs:sequence>
			<xs:element name="PublicationIdentifier" type="xs:string"/>
			<xs:element name="PublicationDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordLicenceKindType.xsd                                -->
	<!-- Author      : SDWG ST.66 Task Force                                    -->
	<!-- Version     : 1.0                                                      -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="RecordLicenceKindType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Licence"/>
					<xs:enumeration value="Licensee Name Address Change"/>
					<xs:enumeration value="License no Effect"/>
					<xs:enumeration value="License Cancelled"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordLicenceType.xsd                                    -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RecordLicenceType">
		<xs:sequence>
			<xs:element name="RecordFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordNotificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordEffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordLicenceKind" type="RecordLicenceKindType"/>
			<xs:element name="RecordReference" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordLanguageCode" type="ExtendedISOLanguageCodeType" minOccurs="0"/>
			<xs:element name="RecordPublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordPublication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordInterrestedOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="LicenceDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Licence" type="LicenceType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordNationalInternationalReplacementType.xsd           -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RecordNationalInternationalReplacementType">
		<xs:sequence>
			<xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordNotificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordEffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordPublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordPublication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordInterestedOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="GoodsServicesLimitationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GoodsServicesLimitation" type="GoodsServicesLimitationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NationalMarkDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NationalMark" type="NationalMarkType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordOppositionPeriodKindType.xsd                       -->
	<!-- Author      : SDWG ST.66 Task Force                                    -->
	<!-- Version     : 1.0                                                      -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="RecordOppositionPeriodKindType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Rule 18bis(1) Ex Officio examination completed but third parties opposition or observations possible"/>
			<xs:enumeration value="Opposition Period"/>
			<xs:enumeration value="Protection Granted Opposition Period"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordOppositionPeriodType.xsd                           -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RecordOppositionPeriodType">
		<xs:sequence>
			<xs:element name="RecordIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordNotificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordEffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordOppositionPeriodKind" type="RecordOppositionPeriodKindType"/>
			<xs:element name="RecordReference" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordPublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordPublication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordInterestedOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="RecordOppositionPeriodStartDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordOppositionPeriodEndDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordShortNotationKindType.xsd                          -->
	<!-- Author      : SDWG ST.66 Task Force                                    -->
	<!-- Version     : 1.0                                                      -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="RecordShortNotationKindType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Merger"/>
					<xs:enumeration value="Partial Transfer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : RecordShortNotationType.xsd                              -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RecordShortNotationType">
		<xs:sequence>
			<xs:element name="RecordFilingDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordNotificationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordEffectiveDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RecordShortNotationKind" type="RecordShortNotationKindType"/>
			<xs:element name="RecordPublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordPublication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordToRegistration" type="RegistrationShortNotationType" minOccurs="0"/>
			<xs:element name="RecordFromRegistrationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RecordFromRegistration" type="RegistrationShortNotationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : RegistrationShortNotationType.xsd                        -->
	<!-- Author      : SDWG ST.66 Task Force                                -->
	<!-- Version     : 1.0                                                -->
	<!-- Last Update : 2007-03-02                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="RegistrationShortNotationType">
		<xs:sequence>
			<xs:element name="RegistrationIdentifier" type="xs:string" minOccurs="0"/>
			<xs:element name="MarkVerbalElementText" type="TextType" minOccurs="0"/>
			<xs:element name="DesignatedCountryDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DesignatedCountryCode" type="ExtendedWIPOST3CodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesLimitation" type="GoodsServicesLimitationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : RepresentativeType                                         -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="RepresentativeType">
		<xs:sequence>
			<xs:element name="RepresentativeIdentifier" type="xs:token" minOccurs="0"/>
			<xs:element name="RepresentativeAddressBook" type="AddressBookType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : TradeMarkType                                              -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TradeMarkType">
		<xs:sequence>
			<xs:element name="RegistrationOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="ReceivingOfficeCode" type="ExtendedWIPOST3CodeType" minOccurs="0"/>
			<xs:element name="ApplicationNumber" type="xs:token" minOccurs="0"/>
			<xs:element name="ApplicationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="RegistrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="RegistrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ApplicationLanguageCode" type="ExtendedISOLanguageCodeType" minOccurs="0"/>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="MarkCurrentStatusCode" type="MarkCurrentStatusCodeType" minOccurs="0"/>
			<xs:element name="MarkCurrentStatusDate" type="xs:date" minOccurs="0"/>
			<xs:element name="DesignatedCountryDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DesignatedCountry" type="DesignatedCountryType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousRegistrationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PreviousRegistration" type="PreviousRegistrationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BasicRegistrationApplicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BasicRegistrationApplication" type="BasicRegistrationApplicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KindMark" type="KindMarkType" minOccurs="0"/>
			<xs:element name="MarkFeature" type="MarkFeatureType" minOccurs="0"/>
			<xs:element name="MarkDescriptionDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkDescription" type="TextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkDisclaimerDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkDisclaimer" type="TextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TradeDistinctivenessIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="WordMarkSpecification" type="WordMarkSpecificationType" minOccurs="0"/>
			<xs:element name="MarkImageDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkImage" type="MarkImageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkSoundDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkSound" type="MarkSoundType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsServicesDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GoodsServices" type="GoodsServicesType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PriorityDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Priority" type="PriorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SeniorityDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Seniority" type="SeniorityType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PublicationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Publication" type="PublicationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ApplicantDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Applicant" type="ApplicantType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RepresentativeDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Representative" type="RepresentativeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CorrespondenceAddress" type="CorrespondenceAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- ====================================================================== -->
			<!-- International Registation Elelements (Not Yet within ST66 )                                  -->
			<!-- ====================================================================== -->
			<xs:element name="PreviousHolderDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Applicant" type="ApplicantType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InternationalRegistrationDuration" type="xs:token" minOccurs="0"/>
			<xs:element name="InternationalRegistrationNationalDeclarationDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NationalDeclaration" type="TextType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkUseIntentDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkUseIntentCountryCode" type="ExtendedWIPOST3CodeType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- ====================================================================== -->
			<!-- End of International Registation Elelements (Not Yet within ST66 )                                  -->
			<!-- ====================================================================== -->
			<xs:element name="MarkRecordDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MarkRecord" type="MarkRecordType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="operationCode" type="OperationCodeType" use="optional"/>
		<!-- -->
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : WordMarkSpecificationType                                  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="WordMarkSpecificationType">
		<xs:sequence>
			<xs:element name="MarkVerbalElementText" type="TextType"/>
			<xs:element name="MarkSignificantVerbalElement" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarkVerbalElementSignificantIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="MarkTranslation" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MarkTransliteration" type="TextType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ********************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- * ADDITIONAL TYPES LIBRARY ******************************************* -->
	<!-- * ******************************************************************** -->
	<!-- ********************************************************************** -->
	<!-- ====================================================================== -->
	<!-- Type Name : BasicRecordKindType.xsd                                    -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="BasicRecordKindType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				<a href="D:\Romarin\Transformation\Romarin St66 doc v0.01."/>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Appeal Expired"/>
			<xs:enumeration value="Appeal Lapsed"/>
			<xs:enumeration value="Appeal Withdrawn"/>
			<xs:enumeration value="Balance of Fees"/>
			<xs:enumeration value="Complementary Renewal"/>
			<xs:enumeration value="Disclaimer"/>
			<xs:enumeration value="Division or Merger of Basic Registration"/>
			<xs:enumeration value="Effect Continuation"/>
			<xs:enumeration value="Final Confirmation Refusal"/>
			<xs:enumeration value="Final Other Decision"/>
			<xs:enumeration value="Final Other Decision"/>
			<xs:enumeration value="Final Other Decision"/>
			<xs:enumeration value="Final Other Decision"/>
			<xs:enumeration value="Final Reversing Refusal"/>
			<xs:enumeration value="Final Reversing Refusal"/>
			<xs:enumeration value="Holder Rights Restriction"/>
			<xs:enumeration value="Judicial Action"/>
			<xs:enumeration value="Limitation"/>
			<xs:enumeration value="No Effect Limitation"/>
			<xs:enumeration value="Non Renewal Certain Parties"/>
			<xs:enumeration value="Non Renewal Under Rule 40.3"/>
			<xs:enumeration value="Non Renewal"/>
			<xs:enumeration value="Other ceasing of effect"/>
			<xs:enumeration value="Partial Cancellation"/>
			<xs:enumeration value="Partial Ceasing Effect"/>
			<xs:enumeration value="Partial Invalidation"/>
			<xs:enumeration value="Partial Refusal"/>
			<xs:enumeration value="Protection Granted"/>
			<xs:enumeration value="Refusal Transfer of Ownership"/>
			<xs:enumeration value="Registration"/>
			<xs:enumeration value="Renewal Under Rule 40.3"/>
			<xs:enumeration value="Renewal"/>
			<xs:enumeration value="Renunciation"/>
			<xs:enumeration value="Representative Appointed"/>
			<xs:enumeration value="Second Part Fee Not Paid"/>
			<xs:enumeration value="Seniority Added"/>
			<xs:enumeration value="Seniority Removed"/>
			<xs:enumeration value="Subsequent Designation"/>
			<xs:enumeration value="Subsequent Designation Resulting From Conversion"/>
			<xs:enumeration value="Total Cancellation"/>
			<xs:enumeration value="Total Ceasing Effect"/>
			<xs:enumeration value="Total Invalidation"/>
			<xs:enumeration value="Total Refusal"/>
			<xs:enumeration value="Unpublished Other Final Decision"/>
			<xs:enumeration value="Unpublished Partial Refusal"/>
			<!-- Rule 18 enumerations -->
			<xs:enumeration value="Rule 18ter(4) protected goods and services"/>
			<xs:enumeration value="Rule 18ter(4) all goods and services refused"/>
			<xs:enumeration value="Rule 18ter(4) all goods and services protected"/>
			<xs:enumeration value="Rule 18ter(1) GP without provisional refusal"/>	
			<xs:enumeration value="GP following Rule 18bis(1)(a) declaration (OP expired)"/>
			<xs:enumeration value="Rule 18ter(2)(ii) GP following a provisional refusal"/>
			<xs:enumeration value="Rule 18ter(2)(ii) GP following a provisional refusal (acceptation with reserve)"/>
			<xs:enumeration value="Rule 18ter(3) Confirmation of total provisional refusal"/>
			<xs:enumeration value="Rule 18ter(2)(i) GP following a provisional refusal"/>
			<xs:enumeration value="Rule 18ter(2)(i) GP  following a provisional refusal (acceptation with reserve)"/>
			<!-- -->
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : CategoryCodeType                                           -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="CategoryCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9][0-9].[0-9][0-9].[0-9][0-9]|[0-9][0-9].[0-9][0-9]|([0-9][0-9]){4}|([0-9][0-9]){6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : CorrespondenceAddressPartyType                             -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="CorrespondenceAddressPartyType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Applicant"/>
			<xs:enumeration value="Representative"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : DesignatedUnderCodeType                                  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="DesignatedUnderCodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Agreement"/>
			<xs:enumeration value="Protocol"/>
			<xs:enumeration value="ProtocolArticle9-6"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : ExtendedISOLanguageCodeType                                -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="ExtendedISOLanguageCodeType">
		<xs:union memberTypes="ISOLanguageCodeType">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="xx"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : ExtendedWIPOST3CodeType                                    -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="ExtendedWIPOST3CodeType">
		<xs:union memberTypes="WIPOST3CodeType WIPOFormerST3CodeType"/>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : FileFormatType                                             -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="FileFormatType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="JPEG"/>
			<xs:enumeration value="TIFF"/>
			<xs:enumeration value="PNG"/>
			<xs:enumeration value="GIF"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : GoodsServicesLimitationCodeType                            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="GoodsServicesLimitationCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="List limited to"/>
			<xs:enumeration value="Remove from list"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : IdentifierType                                             -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="IdentifierType">
		<xs:simpleContent>
			<xs:extension base="xs:token">
				<xs:attribute name="identifierKindCode" type="WIPOST3CodeType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Filename    : InternationalTradeMarkCodeType.xsd                       -->
	<!-- Author      : SDWG ST.66 Task Force                                    -->
	<!-- Version     : 1.1 Revision                                             -->
	<!-- Last Update : 2007-12-03                                               -->
	<!-- ====================================================================== -->
	<xs:simpleType name="InternationalTradeMarkCodeType">
		<xs:union memberTypes="xs:token">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Madrid"/>
					<xs:enumeration value="EU"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : KindMarkType                                               -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="KindMarkType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Individual"/>
			<xs:enumeration value="Collective"/>
			<xs:enumeration value="Certificate"/>
			<xs:enumeration value="Guarantee"/>
			<xs:enumeration value="Defensive"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkCurrentStatusCodeType                                  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkCurrentStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Application Filed"/>
			<xs:enumeration value="Filing date accorded"/>
			<xs:enumeration value="Classification checked"/>
			<xs:enumeration value="Application accepted"/>
			<xs:enumeration value="Application published"/>
			<xs:enumeration value="Opposition pending"/>
			<xs:enumeration value="Registration published"/>
			<xs:enumeration value="Application refused"/>
			<xs:enumeration value="Application withdrawn"/>
			<xs:enumeration value="Appeal pending"/>
			<xs:enumeration value="Interruption of proceeding"/>
			<xs:enumeration value="Registration cancelled"/>
			<xs:enumeration value="Conversion requested"/>
			<xs:enumeration value="Registration surrendered"/>
			<xs:enumeration value="Revocation proceeding pending"/>
			<xs:enumeration value="Invalidity proceeding pending"/>
			<xs:enumeration value="Action before Court of Justice pending"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : MarkFeatureType                                            -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="MarkFeatureType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Word"/>
			<xs:enumeration value="Stylized characters"/>
			<xs:enumeration value="Figurative"/>
			<xs:enumeration value="Combined"/>
			<xs:enumeration value="3-D"/>
			<xs:enumeration value="Colour"/>
			<xs:enumeration value="Sound"/>
			<xs:enumeration value="Hologram"/>
			<xs:enumeration value="Olfactory"/>
			<xs:enumeration value="Motion"/>
			<xs:enumeration value="Municipal"/>
			<xs:enumeration value="Chimney"/>
			<xs:enumeration value="Kennfaden"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Undefined"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : NiceClassNumberType                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="NiceClassNumberType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : OperationCodeType.xsd                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="OperationCodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Insert"/>
			<xs:enumeration value="Update"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : PriorityStatusCodeType                                     -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="PriorityStatusCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Claimed"/>
			<xs:enumeration value="Abandonned"/>
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Partially Refused"/>
			<xs:enumeration value="Refused"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Filename    : SeniorityType.xsd                                        -->
	<!-- Author      : SDWG ST.66 Task Force                                    -->
	<!-- Version     : 1.1 Revision                                             -->
	<!-- Last Update : 2007-12-03                                               -->
	<!-- ====================================================================== -->
	<xs:complexType name="SeniorityType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				ROMARIN/MARKGR/CURRENT/SENGRP
		  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeniorityCountryCode" type="ExtendedWIPOST3CodeType"/>
			<xs:element name="SeniorityPriorityDate" type="xs:date" minOccurs="0"/>
			<xs:element name="SeniorityApplicationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="SeniorityApplicationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="SeniorityRegistrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="SeniorityRegistrationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="InternationalTradeMarkCode" type="InternationalTradeMarkCodeType" minOccurs="0"/>
			<xs:element name="SeniorityPartialIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : SoundFileFormatType                                        -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="SoundFileFormatType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="MP3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : TextType                                                   -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:complexType name="TextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="languageCode" type="xs:language" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Type Name : WO_TM-Search_TransactionCodeType                           -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="Romarin_TransactionCodeType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Romarin Trade Mark"/>
			<xs:enumeration value="Romarin Daily Update"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ====================================================================== -->
	<!-- Type Name : WIPOFormerST3CodeType                                      -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- WO-TM-Search - Version 0.1 Dated 2008-02-13                            -->
	<!-- ====================================================================== -->
	<xs:simpleType name="WIPOFormerST3CodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="CS"/>
			<xs:enumeration value="DL"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="DT"/>
			<xs:enumeration value="SU"/>
			<xs:enumeration value="YD"/>
			<xs:enumeration value="YU"/>
			<xs:enumeration value="UK"/>
			<xs:enumeration value="ZZ"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>